.block{
  margin-inline: -20%;
}
.img-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: grid;
 align-items: center; 
 grid-template-columns:  1fr 1fr 1fr;
 column-gap: 5px;
 width: 1900px;
 margin-left: 50vh;
  }
  
  .img-text .image {
    height: 400px;
    margin: 0 auto;
  }
  
 .image img {
    max-width: 100%;
    max-height:100%;
  }

  .img-text .text {
    width: 80%;
    margin: 20px auto;
    text-align: center;
    font-size: 20px;
  } 
  .last-text{
font-size: 30px;
}

.left-text
{
  float: left;
  margin-left: 300px;
  text-align: left;
font-size: 20px;
}

.a
{
  width: 500px;
  margin-top: 5%;
  margin-left: 35%;
}
.error
{
  color:red;
}
.text{
  
font-size: 20px;

}